<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Wruczek/Bootstrap-Cookie-Alert@gh-pages/cookiealert.css">
<div class="alert text-center cookiealert" role="alert">
    <b>Ciasteczka</b> &#x1F36A; Ta strona wykorzystuje pliki cookies
    <button type="button" class="btn btn-primary btn-sm acceptcookies">OK</button>
</div>
<script src="https://cdn.jsdelivr.net/gh/Wruczek/Bootstrap-Cookie-Alert@gh-pages/cookiealert.js"></script>
<script>
    window.addEventListener("cookieAlertAccept", function() {

    })
</script>