<!--
  <footer class="items-center p-4 footer text-neutral-content" style="background-color: #3b4452;">
  <div class="flex items-center">
    <p style="color: #98a6ad">Copyright © 2021 <a href="https://wiktor.tech">Wiktor Wilk</a></p>
  </div> 
</footer>
-->

</div>
</div>
</body>
</html>
