<!DOCTYPE html >
<html data-theme="light">
    <head>
        <title>Error</title>
        <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.1/dist/tailwind.min.css" rel="stylesheet" type="text/css" />
        <link href="https://cdn.jsdelivr.net/npm/daisyui@1.10.0/dist/full.css" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet"> 
        <script async defer data-website-id="242752ad-da4f-445d-928b-0ff281a1c0f7" src="https://umami.yshop.pl/umami.js"></script>
    </head>
    <body class="bg-gray-200" style="font-family: 'Roboto', sans-serif;">
        <div class="w-full h-screen flex items-center justify-center">
            <center>
                <h1 style="font-size:100px"><%= code %></h1>
                <hr>
                <p style="font-size: 40px;"><%= message %></p>
            </center>
        </div>
    </body>
</html>