<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>yShop.pl</title>
        <meta name="description" content="Darmowy itemshop dla serwerÄ‚Ĺ‚w minecraft!"/>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" />
        <link rel="stylesheet"href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"/>
        <link rel="stylesheet" href="https://mdbootstrap.com/previews/mdb-ui-kit/sidenav/css/mdb.min.css" />
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
        <link rel="stylesheet" href="/css/g.css">
        <script async defer data-website-id="242752ad-da4f-445d-928b-0ff281a1c0f7" src="https://umami.yshop.pl/umami.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg fixed-top navbar-custom navbar-dark sticky sticky-dark">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <i style="color:black" class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse"  id="navbarCollapse">
                    <ul class="navbar-nav navbar-center" id="mySidenav">
                        <li class="nav-item active">
                            <a href="/" class="nav-link">Glowna</a>
                        </li>
                        <li class="nav-item  ">
                            <a href="#galeria" class="nav-link">Galeria</a>
                        </li>
                        <li class="nav-item  ">
                            <a href="#funkcje" class="nav-link">Funkcje</a>
                        </li>
                        <li class="nav-item  ">
                            <a href="/shop/248" class="nav-link">Demo</a>
                        </li>
                        <li class="nav-item">
                            <a href="/privacy" class="nav-link">Polityka</a>
                        </li>
                        <li class="nav-item">
                            <a href="https://dc.yshop.pl/" class="nav-link">Discord</a>
                        </li>
                        <li>
                            <a href="https://www.paypal.com/paypalme/ycodexyz" class="nav-link">Wsparcie</a>
                        </li>
                    </li>
                    </ul>
                    <ul class="navbar-nav ml-auto" id="mySidenav">
                    <li class="nav-item  " style="float:right;">
                    <a href="/panel" class="btn btn-primary">Panel</a>
                    </li>
                    </ul>
                </div>
            </div>
        </nav>
        <section class="bg-home" style="background-image: url('/img/img2.png'); height: 700px; z-index: 0;" id="start">
            <div class="container-fluid">
                <div style="margin-left: 400;" class="row">
                    <div class="col-md-12 title">
                        <h1 class="text-center">yShop.pl</h1><br>
                        <hr style=" margin: auto;" /><br>
                        <h3 class="text-center" style="color: white;">Darmowy ItemShop dla serwerow minecraft!</h3><br>
                    </div>
                    <div class="col-lg-6 offset-lg-1"></div>
                </div>
            </div>
        </section>
        <div id="content">
            <section class="section" id="funkcje">
                <div class="container-fluid">
                    <div class="row justify-content-center">
                        <div class="col-lg-5 text-center">
                            <div class="title text-center mb-5">
                                <h1 class="text-dark">Funkcje</h1>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <h3>Vouchery</h3>
                                        <p>Mozliwosc wygenerowania vouchera z losowym lub wlasnym kodem</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <h3>Suwak do produktow</h3>
                                        <p>Po skonfigurowaniu tej funkcji, gracz podczas kupna bedzie mogl wybrac ilosc przedmiotu.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <h3>Webhook discord</h3>
                                        <p>Po skonfigurowaniu webhooka, bedzie wysylana informacja o zakupie produktu.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <h3>Wlasny styl CSS</h3>
                                        <p>Dzieki  tej opcji mozesz przystosowac wyglad sklepu pod wlasne potrzeby</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <h3>Logi platnosci</h3>
                                        <p>W yshop rejstrujemy kazda platnosc oraz probe platnosci</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <h3>Wlasna nawigacja</h3>
                                        <p>Dzieki tej funkcji mozesz dostosowac navbar pod siebie!</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="galeria" id="galeria">
                <div class="container-fluid">
                    <div class="row justify-content-center">
                        <div class="col-lg-5 text-center">
                            <div class="title text-center mb-5">
                                <h1 class="text-dark">Galeria zdjec</h1>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <a class="gallery" href="https://cdn.discordapp.com/attachments/883348651370508339/883348670651699250/unknown.png">
                                            <img src="https://cdn.discordapp.com/attachments/883348651370508339/883348670651699250/unknown.png" alt="" width="400">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section" id="funkcje">
                <div class="container-fluid">
                    <div class="row justify-content-center">
                        <div class="col-lg-5 text-center">
                            <div class="title text-center mb-5">
                                <h1 class="text-dark">Statystyki</h1>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <h3>Sklepy</h3>
                                        <h1 style="color: black;"><div id="shops"></div></h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <h3>Produkty</h3>
                                        <h1 style="color: black;"><div id="products"></div></h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <h3>Użytkownicy</h3>
                                        <h1 style="color: black;"><div id="users"></div></h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section" id="funkcje">
                <div class="container-fluid">
                    <div class="row justify-content-center">
                        <div class="col-lg-5 text-center">
                            <div class="title text-center mb-5">
                                <h1 class="text-dark">Bramki platnosci</h1>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <a href="https://hotpay.pl"><img src="https://scdn.hotpay.pl/logo-bhotpay.svg" alt="" height="70"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <a href="https://lvlup.pro/"><img src="https://forum.lvlup.pro/uploads/default/original/2X/8/8625ff95cc4b924a31e04500da7a64cbbd9e1009.png" alt="" height="70"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <a href="https://paypal.com"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b5/PayPal.svg/2560px-PayPal.svg.png" alt="" height="70"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <a href="https://microsms.pl"><img src="https://cdn.yshop.pl/microsms.png" alt="" height="70"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <a href="https://cashbill.pl"><img src="https://www.cashbill.pl/images/logo_cb_black.svg?c031b8f" alt="" height="70"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <a href="https://paybylink.pl"><img src="/img/paybylink.png" alt="" height="70"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="footer-alt py-3">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center">
                            <p class="mb-0">2021 © yShop.pl</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="https://mdbootstrap.com/previews/mdb-ui-kit/sidenav/js/mdb.min.js"></script>
        <script src="/js/jquery.min.js"></script>
        <script src="/js/main.js"></script>
        <script src="/js/comp.js"></script>
        <script src="/js/gallery.js"></script>
        <script>
          (function ($) {
            $(".gallery").gallery();
          })(Comp);
        </script>
        <script>
            fetch('https://yshop.pl/api/stats').then(response => response.json()).then(function(data){
                $('#shops').text(data.shops),
                $('#products').text(data.products),
                $('#users').text(data.users)
            });
        </script>
    </body>
</html>