@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.title {
    margin-top: 5%;
    color: #ffffff;
    padding-bottom: 5%;
    margin-bottom: 10%;
}
hr.rounded {
    border-top: 8px solid #bbb;
    border-radius: 5px;
  }
    .dark-mode {
        background-color: #28292b;
        color: white;
    }
.dark-mode .card {
    background-color: #3c3d40;
    color: white;
}
.dark-mode .card h3 {
    color: #c5c9d6;
}
.dark-mode .text-dark {
    color: white !important;
}
.dark-mode .nav-sticky.navbar-custom {
    background-color: #28292b;
}
.dark-mode .nav-sticky.navbar-custom .navbar-nav .nav-item .nav-link {
    color: white;
}
.title h1 {
    font-size: 3em;
}

.title hr {
    width: 25%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    color: #98a6ad;
    background-color: #ffffff;
}

h1, 
h2 {
    color: white;

}
h3,
h4,
h5,
h6 {
    font-family: "Barlow", sans-serif;
    color: #323a46;
}

a {
    text-decoration: none !important;
    outline: none;
}

p {
    line-height: 1.8;
    font-size: 15px;
}

.card {
    border: none;
    -webkit-box-shadow: 0 0 1.25rem rgba(108, 118, 134, 0.1);
    box-shadow: 0 0 1.25rem rgba(108, 118, 134, 0.1);
    border-radius: 7px;
    margin-bottom: 30px;
}

.section {
    position: relative;
    padding-top: 80px;
    padding-bottom: 80px;
}


.navbar-custom {
    padding: 20px 0px;
    width: 100%;
    z-index: 999;
    margin-bottom: 0px;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.navbar-custom .logo .logo-light {
    display: inline-block;
}

.navbar-custom .logo .logo-dark {
    display: none;
}

.navbar-custom .navbar-nav .nav-item .nav-link {
    line-height: 26px;
    color: rgba(255, 255, 255, 0.7);
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    background-color: transparent !important;
    padding: 6px 10px;
    margin: 0 10px;
    font-size: 15px;
} 

.navbar-custom .navbar-nav .nav-item .nav-link:hover, .navbar-custom .navbar-nav .nav-item .nav-link:active {
    color: #ffffff;
}

.navbar-custom .navbar-nav .nav-item.active .nav-link {
    color: #ffffff;
}

.navbar-toggler {
    font-size: 24px;
    margin-top: 5px;
    margin-bottom: 0px;
    color: #ffffff;
}

.nav-sticky.navbar-custom {
    margin-top: 0px;
    padding: 10px 0px;
    background-color: #ffffff;
    -webkit-box-shadow: 0 10px 33px -14px rgba(0, 0, 0, 0.1);
    box-shadow: 0 10px 33px -14px rgba(0, 0, 0, 0.1);
}

.nav-sticky.navbar-custom .logo .logo-dark {
    display: inline-block;
}

.nav-sticky.navbar-custom .logo .logo-light {
    display: none;
}

.nav-sticky.navbar-custom .navbar-nav .nav-item .nav-link {
    color: rgba(50, 58, 70, 0.8);
}

.nav-sticky.navbar-custom .navbar-nav .nav-item .nav-link:hover, .nav-sticky.navbar-custom .navbar-nav .nav-item .nav-link:active {
    color: #188ae2;
}

.nav-sticky.navbar-custom .navbar-nav .nav-item.active .nav-link {
    color: #188ae2;
}

.bg-home {
    position: relative;
    padding-top: 220px;
}

.footer {
    background: #323a46;
    padding: 90px 0px 40px 0px;
}

.footer .footer-desc {
    background: #3b4452;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.footer-alt {
    background: #3b4452;
}

@media (min-width: 200px) and (max-width: 1199px) {
    .container-fluid {
        max-width: 95%;
    }
}

@media (min-width: 1200px) {
    .container-fluid {
        max-width: 85%;
    }
}

@media (min-width: 1600px) {
    .container-fluid {
        max-width: 70%;
    }
}

@media (max-width: 991px) {
    .navbar-custom {
        margin-top: 0px;
        padding: 10px 0px !important;
        background-color: #ffffff !important;
        -webkit-box-shadow: 0 10px 33px -14px rgba(0, 0, 0, 0.1);
        box-shadow: 0 10px 33px -14px rgba(0, 0, 0, 0.1);
    }

    .navbar-custom .logo .logo-dark {
        display: inline-block;
    }

    .navbar-custom .logo .logo-light {
        display: none;
    }

    .navbar-custom .logo img {
        height: 18px;
    }

    .navbar-custom .navbar-nav .nav-item .nav-link {
        -webkit-transition: all 0.4s;
        transition: all 0.4s;
        color: rgba(50, 58, 70, 0.8) !important;
        margin: 0px;
        padding: 6px 0px;
    }

    .navbar-custom .navbar-nav .nav-item.active .nav-link {
        color: #188ae2 !important;
    }

    .navbar-toggler {
        font-size: 24px;
        margin-top: 0px;
        margin-bottom: 0px;
        color: #323a46;
    }

    .bg-home {
        padding-top: 140px;
    }
}