<%- include('../includes/sidebar'); -%>
<main class="h-full pb-16 overflow-y-auto">
    <br>
    <h1 style="text-align:center; font-size: 40px;">Dodaj nowy sklep</h1>
    <br>
    <div class="flex">
        <div class="flex-1 ..." style="margin: 40px">
            <div class="card text-center shadow-2xl">
                <div class="card-body">
                    <div class="alert alert-info">
                        <div class="flex-1">
                          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="w-6 h-6 mx-2 stroke-current">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>                          
                          </svg> 
                          <label>Twoj limit sklepów wynosi: <b>0/5</b></label>
                        </div>
                      </div>
                    <form  class="card-body" action="/panel/addshop" method="POST" name="create">
                        <div class="w-full mb-2">
                            <div class="form-control">
                                <input type="text" placeholder="Nazwa sklepu" class="input input-bordered" name="name" required>
                            </div>
                        </div>
                        <div class="w-full mb-2">
                            <div class="form-control">
                                <input type="text" placeholder="IP serwera (numeryczne)" class="input input-bordered" name="ip" required>
                            </div>
                        </div>
                        <div class="w-full mb-2">
                            <div class="form-control">
                                <input type="number" placeholder="Port serwera" class="input input-bordered" name="port" required>
                            </div>
                        </div>
                        <div class="w-full mb-2">
                            <div class="form-control">
                                <input type="number" placeholder="Port RCON" class="input input-bordered" name="rcon_port" required>
                            </div>
                        </div>
                        <div class="w-full mb-2">
                            <div class="form-control">
                                <input type="password" placeholder="Haslo RCON" class="input input-bordered" name="rcon_pass" required>
                            </div>
                        </div>
                </form>
                <div class="card-actions">
                    <script>
                        function create1(){
                            setTimeout(function(){
                                document.forms['create'].submit();
                            }, 2000);
                            var btn = document.getElementById('btnsubmit');
                            btn.className='btn btn-wide loading';
                            btn.innerHTML='Trwa dodawanie sklepu...';
                        }
                    </script>
                    <button id="btnsubmit" class="btn btn-wide" onClick="create1();">Dodaj sklep</button>
                </div>
                </div>
            </div> 
        </div>
    </div>

    
</main>
<%- include('../includes/footer'); -%>